:root {
    --header-text-color: white;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-width: 320px;
    font-family: "Inter";
}

.header {
    display: block;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 5em;
    height: 30vh;
    min-height: 300px;
    min-width: inherit;
    color: var(--header-text-color);
    background-image: url(/images/header-img.png);
    background-repeat: no-repeat;
    background-size:100% auto;
    background-blend-mode: brightness(60%);
    background-position-y: -100px;
    word-spacing: 10px;
    letter-spacing: 3px;
    text-shadow: 1px 1px 10px black;

    h1 {
        font-size: 2.3em;
        font-weight: 700;
        padding: 40px 0;
        margin: 0;
        &:hover, &:focus {
            font-weight: 900;
            color: black;
            text-shadow: 1px 1px 5px white ;
            background-repeat: no-repeat;
            background-position: center;

        }
    }

    h2 {
        font-weight: 400;
        font-size: 1.5rem;
    }
}

.main {
    display: flex;
    flex-direction: column;
    background-color: white;
    
    padding: .3em;
    margin: 0;
    min-width: inherit;
    max-width: 100%;

    h2 {
        text-align: center;
        text-decoration: underline;
        font-size: 3rem;
    }

    .search-form {
        display: flex;
        max-width: 100%;
        z-index: 1;
        padding: 0;
        margin: 0;
        transform: translateY(-70%);
        justify-content: center;

        button {
            margin: 0;
            padding: 0;
            border-radius: 0 8px 8px 0;
            width: 5rem;
        }

        input {
            border-radius: 8px 0 0 8px;
        }

        input, button {
            height: 2.2rem;
        }
    }
    
    .movie-article {
        display: flex;
        padding: 2em;
        width: 90%;
        margin: 5px auto;
        border-bottom: 3px solid #E5E7EB;

        .photo-container {
            min-width: 100px;
            max-width: 20%;
            display: flex;
            align-content: center;

            img {
                align-self: center;
                min-height: 150px;
                padding-right: 1em;
                max-width: 100%;
            }   
        }

        .movie-info {
            display: block;
        }
        
        .movie-top {
            display: flex;
            align-items: top;
            gap: 10px;
            align-items: center;

            h3 {
                font-weight: 500;
            }

            .star {
                color: rgb(245, 188, 2);
            }
        }

        .movie-mid {
            display: flex;
            text-align: center;
            gap: 10px;
            font-size: .8em;
            align-items: center;
            height: 10px;
            margin-bottom: 30px;
        }
    }
}

@media only screen and (max-width: 370px) {
    .header  {

        h1, h2 {
            font-size: .9rem;
        }
    }

    .movie-top {
        h3 {
            font-size: 1rem;
        }
    }

    .movie-mid {
        p {
            font-size: .7rem;
        }
    }
}

@media only screen and (max-width: 500px) {
    .header {
        h1 {
            font-size: 1.7em;
        }
    } 
}

@media only screen and (min-width: 600px) {
    .header {
        background-position-y: 30%; 
    }

    .movie-article {
        .movie-mid {
            display: flex;
        }
    }
}

@media only screen and (min-width: 900px) {
    .header {
        background-position-y: 30%;
        display: flex;
        justify-content: space-around;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        margin: 0 auto;
        max-width: 1400px;
        background-color: black;
    }

    .header {
        max-width: inherit;
        background-size: 100% auto;
    }    

    .main {
        height: auto;
        min-height: 70vh;
    }
}

